
   /*--------------- LOGIN -----------------------------*/
  
.login-form2 {
  text-align: center;
  width: 45%;
  margin: 20px auto 0;
  
}


select {
  width: 30%;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.login-boxes{
  display: block;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
   /*--------------- sense -----------------------------*/
  .sense-item:hover{
  	background-color: #0e6c9c;
  	color: white;
  	cursor: pointer;
  }

